/* _content/DDON-WebPage/Shared/MainLayout.razor.rz.scp.css */
.page[b-iw9i1ztes3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-iw9i1ztes3] {
    flex: 5;
}

.sidebar[b-iw9i1ztes3] {
    background-image: linear-gradient(180deg, rgba(66, 57, 16, 0.2) 0%, rgba(223, 148, 44, 0.5) 60%, rgba(255, 255, 255, 0.1) 109%);
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    /*background-image: url("./img/jobs/JobsFaces2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;*/
}

.top-row[b-iw9i1ztes3] {
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0);
    justify-content: flex-end;
    height: 0rem;
    display: flex;
    align-items: center;
}

    .top-row[b-iw9i1ztes3]  a, .top-row .btn-link[b-iw9i1ztes3] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-iw9i1ztes3] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-iw9i1ztes3] {
        display: none;
    }

    .top-row.auth[b-iw9i1ztes3] {
        justify-content: space-between;
    }

    .top-row a[b-iw9i1ztes3], .top-row .btn-link[b-iw9i1ztes3] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-iw9i1ztes3] {
        flex-direction: row;
    }

    .sidebar[b-iw9i1ztes3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-iw9i1ztes3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-iw9i1ztes3], article[b-iw9i1ztes3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/DDON-WebPage/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b479mpdmud] {
    background-color: rgba(25, 25, 25, 0.1);
}

.top-row[b-b479mpdmud] {
    height: 7.3rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.oi[b-b479mpdmud] {
    width: 2rem;
    font-size: 20px;
    top: -2px;
    color: black;
}

.nav-item[b-b479mpdmud] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: black;
}

    .nav-item:first-of-type[b-b479mpdmud] {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type[b-b479mpdmud] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b479mpdmud]  a {
        color: black;

        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-b479mpdmud]  a.active {
            background-color: rgba(0, 0, 0, 0.25);
            color: floralwhite;
        }

        .nav-item[b-b479mpdmud]  a:hover {
            background-color: rgba(0, 0, 0, 0.42);
            color: floralwhite;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-b479mpdmud] {
        display: none;
    }

    .collapse[b-b479mpdmud] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    /*.nav-scrollable {
         Allow sidebar to scroll for tall menus 
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }*/
}
