@page "/faq"

<PageTitle>Dragon's Dogma Online</PageTitle>
<br />
<br />

<div>
    <MudPaper Style="box-sizing: border-box;margin-right:auto;margin-left:auto;background-color:rgba(30,30,30,0.9);margin-bottom:2%;position:static"
              MinWidth="0px"
              Width="70%"
              MaxWidth="1250px">

        <MudContainer>

            <MudPaper style="background-color:rgba(20,20,20,0.70);margin-left:-24px;margin-right:-24px"
                      Height="30px">

                <MudContainer>
                    <MudText style="color:rgb(195,195,195);padding-top:5px;"
                             Align="Align.Center"><b>Frequently Asked Questions</b></MudText>
                </MudContainer>
            </MudPaper>
            <div>
                <br />
                <h3><MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Large"></MudIcon>What is Dragon's Dogma Online?</h3>
                <br />
                <br />
                <h5>
                    Dragon's Dogma Online is an Action-MMO game developed and published by CAPCOM only in Japan.<br />
                    Released in 2015 and got its servers closed in 2019.
                </h5>
                <br /><br />
            </div>

        </MudContainer>
    </MudPaper>
</div>