@page "/"

<PageTitle>Dragon's Dogma Online</PageTitle>

<h1>Hello, arisen!</h1>

Welcome to a new project!

<SurveyPrompt Title="How about slay some goblins?" />
<input type="text"/>

@{
	string username, password, serverConnection, lobbyIP, DlIp;
}