
.body-index {
	background-image: url(./img/BackGround1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.text-field {
	color: rgb(195,195,195);
	border-color: #ADA684;
	border-width: 4px;
}.text-field:hover {
	color: rgb(195,195,195);
	border-color: #ADA684;
	border-width:4px;
}
	.text-field:active {
		color: rgb(195,195,195);
		border-color: #ADA684;
		border-width: 4px;
	}