@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider BackdropClick="false"
                   CloseButton="false"
                   FullWidth="false"
                   MaxWidth="MaxWidth.Large"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="false" />
<MudSnackbarProvider />

<link href="css/site.css" rel="stylesheet" />
<style>
    body {
    }

        body::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: url(./img/backgrounds/background_04.png);
            background-size: cover;
            background-position: center;
            opacity: 0.3;
            z-index: -1;
            pointer-events: none;
        }
</style>

<MudLayout>

    <MudAppBar Elevation="1">
        <MudIconButton Class="d-flex" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"> <img style="width:100px" src="./img/Logos/Logo_Y3.png" /> </MudIconButton>
        <MudText Typo="Typo.h5" Class="ml-6">Dragon's Dogma Online</MudText>
        <MudSpacer />
    </MudAppBar>

    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="3">
        <NavMenu />
    </MudDrawer>

    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#b5b194",
        Surface = "#1e1e1e",            //MudPaper color
        Background = "#2e2e2e",         //Body Color
        BackgroundGray = "#151521",
        AppbarText = "#c3c3c3ff",       //"Dragon's Dogma Online" title
        AppbarBackground = "#1e1e1e",   //Top Bar color
        DrawerBackground = "#1e1e1e",   //Side Bar color
        //ActionDefault = "#1e1e1e",    //Borders and some elements
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d",
        TextPrimary = "#c3c3c3ff",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        //GrayLight = "#2a2833",
        //GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#e0911b",            //Warning = "#ffb545" e0911b
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        LinesInputs = "#b5b194ff",
        TableLines = "#33323e",
        Divider = "#b5b194",
        OverlayLight = "#1e1e2d80",
    };
}


