.navbar-toggler[b-b479mpdmud] {
    background-color: rgba(25, 25, 25, 0.1);
}

.top-row[b-b479mpdmud] {
    height: 7.3rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.oi[b-b479mpdmud] {
    width: 2rem;
    font-size: 20px;
    top: -2px;
    color: black;
}

.nav-item[b-b479mpdmud] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: black;
}

    .nav-item:first-of-type[b-b479mpdmud] {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type[b-b479mpdmud] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b479mpdmud]  a {
        color: black;

        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-b479mpdmud]  a.active {
            background-color: rgba(0, 0, 0, 0.25);
            color: floralwhite;
        }

        .nav-item[b-b479mpdmud]  a:hover {
            background-color: rgba(0, 0, 0, 0.42);
            color: floralwhite;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-b479mpdmud] {
        display: none;
    }

    .collapse[b-b479mpdmud] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    /*.nav-scrollable {
         Allow sidebar to scroll for tall menus 
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }*/
}
