.ddo-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.ddo-nav-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 38px;
    position: absolute
}
.MudSideBar {
    width: 100%;
    text-align: center;
}

