@inherits LayoutComponentBase

<PageTitle>DDON-WebPage</PageTitle>

<MudThemeProvider Theme="_themeManager.Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))" />
    <MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme" />
</MudLayout>

<style>
    .mudtext-field {
        color: rgb(195,195,195);
    }

    #GeneralHover:hover {
        background-color: rgba(221,197,178,0.1)
    }

</style>


<div>
    <a href="/" class="ddo-logo">
        <img class="ddo-logo" src=".\img\DdonLogo.png" />
    </a>
</div>


<div class="ddo-nav-bar">
    <div class="MudSideBar">
        ﻿
        <MudButton id="GeneralHover" Href="/" Color="Color.Inherit" Variant="Variant.Text">Home</MudButton>

        <MudMenu id="GeneralHover"
                 Dense="true"
                 Variant="Variant.Text"
                 LockScroll="false"
                 Label="Get Started"
                 EndIcon="@Icons.Material.Filled.ArrowDropDown"
                 AnchorOrigin="Origin.BottomLeft"
                 TransformOrigin="Origin.TopLeft"
                 onclick="close">

            <MudList T="string" Class="MudList-List">

                <MudListItem id="GeneralHover" Href="/faq">
                    <div>
                        <MudText style="color: rgb(181 177 148)">FAQ</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">See general info about<br />the game</MudText>

                </MudListItem>

                <MudListItem id="GeneralHover" Href="/download-game">
                    <div>
                        <MudText style="color: rgb(181 177 148)">Download The Game</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Find links to begin your<br />adventure in Dragon's Dogma</MudText>

                </MudListItem>

                <MudListItem id="GeneralHover" Href="/download-misc">
                    <div>
                        <MudText style="color: rgb(181 177 148)">Misc Downloads</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Explore some available mods<br />and launchers</MudText>

                </MudListItem>

                <MudListItem id="GeneralHover" Href="/about">
                    <div>
                        <MudText style="color: rgb(181 177 148)">About This Server</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Know more about our server</MudText>

                </MudListItem>
            </MudList>
        </MudMenu>

        <MudMenu id="GeneralHover"
                 Variant="Variant.Text"
                 LockScroll="false"
                 Label="Utilities"
                 Dense="true"
                 EndIcon="@Icons.Material.Filled.ArrowDropDown"
                 AnchorOrigin="Origin.BottomLeft"
                 TransformOrigin="Origin.TopLeft">

            <MudList T="string" Class="MudList-List">

                <MudListItem id="GeneralHover" Href="/maps">
                    <div>
                        <MudText style="color: rgb(181 177 148)">Maps</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Choose a map to look after<br />Dungeon entrances and levels,<br />Enemies location and drops, <br />item drop list and more.</MudText>
                    
                    
                     
                                                                     
                </MudListItem>

                <MudListItem id="GeneralHover" Href="/download-game">
                    <div>
                        <MudText style="color: rgb(181 177 148)">Download The Game</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Find links to begin your<br />adventure in Dragon's Dogma</MudText>

                </MudListItem>

                <MudListItem id="GeneralHover" Href="/download-misc">
                    <div>
                        <MudText style="color: rgb(181 177 148)">Misc Downloads</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Explore some available mods<br />and launchers</MudText>

                </MudListItem>

                <MudListItem id="GeneralHover" Href="/about">
                    <div>
                        <MudText style="color: rgb(181 177 148)">About This Server</MudText>
                    </div>
                    <MudText class="mudtext-field" Typo="Typo.body2">Know more about our server</MudText>

                </MudListItem>

            </MudList>
        </MudMenu>

        <MudButton 
            id="GeneralHover" 
            Href="/mud/introduction" 
            Color="Color.Inherit" 
            Variant="Variant.Text"> Learn More </MudButton>

        <MudMenu 
            id="GeneralHover"
            Color="Color.Inherit"
            Variant="Variant.Text"
            Label="Community"
            
            EndIcon="@Icons.Material.Filled.ArrowDropDown"
            AnchorOrigin="Origin.BottomLeft"
            TransformOrigin="Origin.TopLeft">
            
            <MudList T="string">

                <MudListSubheader>
                    Community
                </MudListSubheader>

                <MudListItem Href="https://mudblazor.com/">
                    <div class="d-flex">
                        <MudText Color="Color.Primary">MudBlazor</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Blazor component library</MudText>
                </MudListItem>

                <MudListItem Href="https://try.mudblazor.com/">
                    <div class="d-flex">
                        <MudText Color="Color.Primary">Try</MudText><MudText>MudBlazor</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Online code editor with Blazor</MudText>
                </MudListItem>

                <MudListItem Href="https://github.com/MudBlazor/ThemeManager">
                    <div class="d-flex">
                        <MudText>Theme</MudText><MudText Color="Color.Secondary">Manager</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Manage your theme live in your app</MudText>
                </MudListItem>

                <MudListItem Href="https://github.com/MudBlazor/Templates">
                    <div class="d-flex">
                        <MudText>Templates</MudText>
                    </div>
                    <MudText Typo="Typo.body2">Blazor templates loaded with MudBlazor</MudText>
                </MudListItem>

            </MudList>

        </MudMenu>

        <MudSpacer />

    </div>
</div>



<div>
    <main>
        <article>

            @Body
        </article>
    </main>
</div>

@code {
    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    public bool _themeManagerOpen = false;

    void OpenThemeManager(bool value)
    {
        _themeManagerOpen = value;
    }

    void UpdateTheme(ThemeManagerTheme value)
    {
        _themeManager = value;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        StateHasChanged();
    }
}